body{
    background: url(WhatsApp\ Image\ 2023-10-25\ at\ 04.21.49_a46ad795.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    font-family: 'poppins',sans-serif;
}
form{
    width:400px;
    margin:20vh auto 0 auto;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 30px;



}
h1{
    text-align: center;
    color: green;
}
form button{
    background-color: rgb(5, 88, 23);
    color: white;
    border: 0cqmin;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;



}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid cornflowerblue;
}
.input-group input:focus{
    outline: 0;

}
.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;

}
.input-group.success input{
    border-color: lightgreen;
}
.input-group.error{
    border-color: red;
}